body {
  margin: 16px;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2e2f42;
  background-color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.text-link {
  margin-bottom: 20px;
}

.go-back-link {
  display: block;
  max-width: 85px;
  padding: 8px;
  border: 1px solid #212121;
  border-radius: 8px;
  transition: background-color 250ms linear;
}

.go-back-link:hover,
.go-back-link:focus {
  background-color: #c9c6c6;
}

.item {
  width: 392px;
  padding: 16px;
  border-radius: 8px;
  background-color: #f6f6fe;
  margin: 0 auto;
}

.item:not(:last-child) {
  margin-bottom: 24px;
}

.list-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  margin-bottom: 16px;
}

.sub-item {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border: 1px solid #808080;
  border-radius: 4px;
  width: 100%;
  height: 40px;
  padding: 8px 16px;
}

.sub-item:not(:last-child) {
  margin-bottom: 8px;
}
